<!DOCTYPE html>
    <html lang="en" dir="ltr">
        <head>
            <meta charset="utf-8">
            <title>Ticket Created</title>
            <link rel="stylesheet" href="/server/static/static/css/master.css">
			<link rel="icon" href="/server/static/static/images/profile.png">
        </head>
        <body>
            <h1>Your Ticket : {tiketnum} has successfully been created on {datetime.datetime.now()}</h1>
            <h2>An email has been sent to : {tiketemail} with further details.</h2>
            <h2>Upload any files about your problem <a href='https://pretoriusse1.sharepoint.com/sites/Support/Shared%20Documents/Forms/AllItems.aspx'>here</a>. Save it as Ticket and what error.</h2>
            <br>
            <br>
            <h2>Format (ticket)(error)</h2>
            <h3>e.g R3PPlexError.png</h3>
        </body>
    </html>
