<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forbidden</title>
    <link rel="stylesheet" href="/server/static/static/css/login.css">
    <link rel="icon" href="/server/static/static/images/profile.png">
  </head>
  <body>
    <h1>You are not authorised to acces this site.</h1>
    <br>
    <form class="frm" action="index.html">
      <input class="edit" type="submit" name="" value="Click here to go back to the home page.">
    </form>
  </body>
</html>
