<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reset Forgotten Password</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="icon" href="/static/images/profile.png">
  </head>
  <body>
    <label for="">Enter Email : </label>
    <form class="frm" action="/forgottenpassword" method="post">
      <input type="email" class="edit" name="Email" placeholder="john.doe@pretoriusse.net">
      <br>
      <input type="submit" class="edit" name="Submit" value="Reset">
    </form>

  </body>
</html>
