<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Helpdesk</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="icon" href="/static/images/profile.png">
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 15px;
          text-align: left;
        }
    </style>
  </head>
  <body>
  <div>
    <br>
    <br>
    <form class="frm" action="/reset" method="get">
      <input type="submit" class="edit" name="Change" value="Change Password">
    </form>
    <h1>Hello Raine.</h1>
    <br>
    <form class="frm" action="create_ticket.html" method="post">
      <input class="edit" type="submit" name="createticket" value="Create new Ticket">
    </form>
    <br>
    <br>
    <form class="frm" action="track.html" method="post">
      <input class="edit" type="submit" name="trackticket" value="Track Ticket">
    </form>
    </div>
    <br>
    <br>
    <div>
      <h3>Here are your tickets</h3>
      <table style="width:100%">
        <thead>
          <tr>
            <th>Ticket Number</th>
            <th>Date Opened</th>
            <th>Email</th>
          </tr>
        </thead>
        {% for row in data %}
            <tr><td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
      </table>
    </div>
  </body>
</html>
