<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Helpdesk</title>
    <link rel="stylesheet" href="/server/static/static/css/login.css">
    <link rel="icon" href="/server/static/static/images/profile.png">
  </head>
  <body>
    <h1 id="h1">Hello</h1>
    <br>
    <br>
    <form class="frm" action="/reset" method="get">
      <input type="submit" class="edit" name="Change" value="Change Password">
    </form>
    <br>
    <br>
    <form class="frm" action="create_ticket.html" method="post">
      <input class="edit" type="submit" name="createticket" value="Create new Ticket">
    </form>
    <br>
    <br>
    <form class="frm" action="track.html" method="post">
      <input class="edit" type="submit" name="trackticket" value="Track Ticket">
    </form>
  </body>
</html>
