<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/master.css">
    <link rel="icon" href="/static/images/profile.png">
  </head>
  <body>
    <form class="frm" id="formElem" action="/registerneww" method="post" >
      <br>
      <input class="edit" type="text" name="Name" placeholder="Enter First Name">
      <br>
      <br>
      <input class="edit" type="email" name="Email" placeholder="Enter your email">
      <br>
      <br>
      <input class="edit" type="password" name="Password" placeholder="password">
      <br>
      <input class="edit" type="password" name="Password1" placeholder="password">
      <br>
      <br>
      <input class="edit button" id="butn" type="submit" value="Register">
    </form>
  </body>
</html>
