<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/server/static/static/css/login.css">
    <link rel="icon" href="/server/static/static/images/profile.png">
  </head>
  <body>
    <form class="frm" action="/resetpassword" method="post">
      <br>
      <input type="text" class="edit" name="Email" placeholder="john.doe@pretoriusse.net">
      <br>
      <input type="password" class="edit" name="Password"  placeholder="Old password">
      <br>
      <br>
      <input type="text" class="edit" name="Newpassword"  placeholder="New password">
      <br>
      <input type="text" class="edit" name="Newpassword1" placeholder="New password">
      <br>
      <br>
      <input type="submit" class="edit" name="" value="Reset Password" style='font'>
      <br>
    </form>
    <br>
    <br>
  </body>
</html>
