<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
  </head>
  <body>
    Welcome.
    Here are the open tickets :
    <table>
      <tr>
        <td>Ticket number</td>
        <td>Date opened</td>
        <td>Person's email</td>
        <td>Person's Comments</td>
        <td>Person's files</td>
      </tr>
      <tr>
        <td>{ticketnumber}</td>
        <td>{dateopened}</td>
        <td>{personemail}</td>
        <td>{comments}</td>
        <td>{linktofile}</td>
      </tr>
    </table>
    Here Are the tickets in progress :
    <table>
      <tr>
        <td>Tiket Number</td>
        <td>Date Opened</td>
        <td>Person's email</td>
        <td>Person's comments</td>
        <td>IT comments</td>
        <td>The users files</td>
      </tr>
      <tr>
        <td>{tiketnumber}</td>
        <td>{dateopenedin}</td>
        <td>{emailin}</td>
        <td>{commentsin}</td>
        <td>{itcomments}</td>
        <td>{filelinkin}</td>
      </tr>
    </table>
  </body>
</html>
