<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Ticket</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="icon" href="/static/images/profile.png">
  </head>
  <body>
    <form class="frm" action="create_ticket" method="post">
      <label class="edit">Enter email :</label>
      <br>
      <input type="text" class="edit" name="Email" placeholder="john.doe@pretoriusse.net">
      <br>
      <br>
      <label class="edit">Comments about Problem : </label>
      <br>
      <textarea class="edit" name="Comments" rows="5" cols="50" >Enter your comments here.</textarea>
      <br>
      <br>
      <input type="submit" class="edit" name="submit" value="Submit">
      <br>
    </form>
  </body>
</html>
