<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Helpdesk Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="icon" href="/static/images/profile.png">
  </head>
  <body>
    <h1  class="edit">Welcome</h1>
    <h2 class="edit">Enter login details</h2>
    <br>
    <form class="frm" action="/helpdesk" method="post">
      <br>
      <input class="edit" type="email" name="Email" placeholder="john.doe@pretoriusse.net">
      <br>
      <input class="edit" type="password" name="Password" placeholder="Password">
      <br>
      <br>
      <input class="edit" type="submit" value="Login">
    </form>
    <br>
    <form class="" action="/forgot" method="post">
      <input type="submit" class="edit" name="forgot" value="Forgot Password">
    </form>
    <br>
    <br>
    <form class="" action="/register.html" method="Get">
      <input class="edit" type="submit" name="" value="Register">
    </form>
  </body>
</html>
